<div class="container">
  <div class="text-center refresh-row" ng-hide="showOffers">
    <button class="btn btn-primary btn-lg" ng-click="fetchOffers()">See your offers</button>
  </div>
  <div class="whirly-loader text-center spinner-row" ng-show="showSpinner">
    Loading…
  </div>
  <div style="position:relative;">
    <table class="table table-striped" ng-show="showOffers">
    <thead>
    <tr>
      <th>id</th>
      <th>company</th>
      <th>position</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="offer in offers">
      <td>{{offer.id}}</td>
      <td>{{offer.companyName}}</td>
      <td>{{offer.position}}</td>
    </tr>
    </tbody>
  </table></div>

  <div class="text-center refresh-row" ng-show="showOffers">
    <button class="btn btn-primary btn-lg" ng-click="fetchOffers()">Refresh your offers</button>
  </div>
</div>
